
body, html, .main-container, .main-admin-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100vh;
}

.body-users { padding-top: 1em; }

/* HEADER USERS */
.header-users {
    max-width: 90vw;
    height: 10vh;
    margin: auto;
    & .nav-users {
        width: inherit;
        height: inherit;
        border-radius: 1em;
        background-color: #a3856a;
        display: flex;
        justify-content: space-between;
        padding-right: 3em;
        align-items: center;
        & img { height: inherit; padding: 0 .5em; }
        & .links-nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
            & li {
                list-style-type: none;
                font-weight: bold;
                display: block;
                cursor: pointer;
                & a {
                    padding: .5em 1em;
                    width: 100%;
                    text-decoration: none;
                    color: #111;
                    &:hover{
                        background-color: antiquewhite;
                        border-radius: .5em;
                    }
                }
            }
            & .circle-sesion-icon {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background-color: antiquewhite;
                border-radius: 50%;
                & a {
                    border-radius: 50%; display: flex; justify-content: center; align-items: center; width: inherit; height: inherit;
                    & svg { fill: #111; width: 100%; height: 100%;}
                }
            }

        }
    }
}

/* FOOTER USERS */
footer {
    min-height: 45vh;
    width: 100%;
    background-color: #611232;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    & .enalces, & .contactos, & .termCond {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 2em;
        gap: 2em;
        width: 100%;
        & .links-foot {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        & a {
            display: block;
            width: max-content;
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    & .enalces {
        justify-content: space-between;
        & img {
            align-self: flex-start;
        }
    }
    & .contactos {
        padding-bottom: 0;
        & .links-foot {
            align-self: center;
        }
        & span {
            color: #fff;
        }
        & img {
            width: 100%;
        }
    }
    & .termCond {
        text-align: end;
        & .links-foot {
            align-items: flex-end;
        }
        & h2, p { color: #fff; margin: 0;}
        & p > a { display: inline-block; text-decoration: underline; text-decoration-color: gold; }
        & .gob {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        & .social-icons {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1em;
            & svg {
                fill: #fff;
                width: 30px;
                height: 30px;
            }
        }
    }
}

/* HOME / INDEX */
.home-container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    /* justify-content: center; */
    align-items: center;
    & .estados-home, .zonas-home, .culturas-home {
        width: 90%;
        min-height: 80vh;
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        & h2 {
            text-transform: uppercase;
            font-size: 2em;
            padding: 1em;
            color: #fff;
            text-shadow: 0 0 .2em gray;
            /* letter-spacing: .1em; */
            word-spacing: .1em;
            font-weight: bolder;
        }
    }
    & .estados-home {
        border-radius: 1em 1em 0 0;
        background-image:
        linear-gradient(
            rgba(0,0,0,0.1) 100%,
            rgba(0,0,0,0.0)
        ), url(../../public/img/uploads/miranda-garside-aaGej_rGBpQ-unsplash.jpg);
    }
    & .zonas-home {
        background-position: center 90%;
        background-image:
        linear-gradient(
            rgba(0,0,0,0.1) 100%,
            rgba(0,0,0,0.0)
        ), url(../../public/img/uploads/marv-watson-UfK0P6WygEE-unsplash.jpg);
    }
    & .culturas-home {
        border-radius: 0 0 1em 1em;
        background-image:
        linear-gradient(
            rgba(0,0,0,0.1) 100%,
            rgba(0,0,0,0.0)
        ), url(../../public/img/uploads/julie-sd-Ae3iebFg524-unsplash.jpg);
    }
}

.sidebar-section {
    min-height: inherit;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* padding: 1em 0; */
    background-color: #a3856a;
    & hr {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    & .sidebar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        & h1 {
            color: #111;
            font-weight: bolder;
            font-size: 2em;
            letter-spacing: .1em;
            text-shadow: 0 0 .09em black;
        }
        & img {
            width: 40px;
            height: 40px;
        }
    }
    & .dashboard-hamburger {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 1em;
        gap: 1em;
        color: #fff;
        & span {
            font-weight: bolder;
            letter-spacing: .4em;
            cursor: pointer;
        }
    }
    & .menu-tablas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 2em;
        & h3 {
            margin-top: 0;
            margin-bottom: 2em;
            font-size: .8em;
            color: #ffffff7c;
        }
        & .tables-link {
            display: flex;
            flex-direction: column;
            color: #fff;
            gap: 2em;
            font-style: oblique;
        }
    }
}
